@use 'styles/utils' as ut;
@use 'styles/variables' as vars;

.footer {
  display: flex;
  justify-content: center;

  flex: 0 1 auto;
  background: #2c2c2c;

  &__container {
    display: flex;
    flex-direction: column;

    padding: 20px 0 0 39px;

    @include ut.tablet {
      padding: 0;
      width: 764px;

      flex-direction: row;
      justify-content: space-between;
    }

    @include ut.desktop {
      width: 1180px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__logo {
    width: 110px;
    height: 26px;
  }

  &__license {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

    color: #bbbbbb;

    &_tablet {
      display: none;

      @include ut.tablet {
        display: flex;
      }
    }

    &_mobile {
      display: flex;

      @include ut.tablet {
        display: none;
      }
    }
  }
  &__contacts {
    display: flex;
    flex-direction: column;
  }

  &__links {
    display: flex;
  }

  &__number {
    font-family: vars.$montserrat;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;

    color: #bbbbbb;
  }

  &__buttons {
    display: flex;
    gap: 7px;
  }

  &__design {
    display: flex;
    align-items: flex-end;

    &-text {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;

      color: #bbbbbb;
    }

    &-image {
      width: 85px;
      height: 11px;
    }
  }
}
