section.feedback
  .feedback__container
    .feedback__logo
    .feedback__form
      .feedback__info
        h2.feedback__title остались вопросы?
        span.feedback__subtitle Укажите ваш номер телефона, и мы свяжемся с вами в течение двух минут
      .feedback__fields
        input(type="text" placeholder='Имя').feedback__input
        input(type="email" placeholder='E-mail').feedback__input
        input(type="number" placeholder='Номер телефона').feedback__input
        button.feedback__button
          span.feedback__button-text связаться с нами