section.preview
  .preview__container
    .preview__frame
      img(src=`${imgUrl}/main/preview-frame-tablet.png` alt="").preview__frame-source.preview__frame-source_tablet
      img(src=`${imgUrl}/main/preview-frame-desktop.png` alt="").preview__frame-source.preview__frame-source_desktop
    .preview__star
    .preview__wrapper
      h2.preview__title электропастух «Статик-3М»
      span.preview__text Мы — завод-изготовитель электропастухов «Статик-3М» и комплектующих к ним. С 2013 года производим и продаем электропастухи. Гарантируем лучшие цены и быстрое сервисное обслуживание
      span.preview__text.preview__text_tablet Мы — завод-изготовитель #[br] электропастухов «Статик-3М» и #[br] комплектующих к ним. С 2013 года #[br] производим и продаем #[br] электропастухи. Гарантируем лучшие #[br] цены и быстрое сервисное #[br] обслуживание
      span.preview__text.preview__text_desktop Мы — завод-изготовитель #[br] электропастухов «Статик-3М» и #[br] комплектующих к ним. С 2013 года #[br] производим и продаем #[br] электропастухи. Гарантируем #[br] лучшие цены и быстрое сервисное #[br] обслуживание