section.videos
  .videos__container
    .videos__header 
      h2.videos__title отзывы
      a(href="").videos__link Смотреть все отзывы
    .videos__list
      .reviews__item.reviews__item_cow
        span.reviews__item-title Одуревшие быки под контролем, хозяин в восторге
        button.reviews__item-button
          img(src=`${icnUrl}/youtube.svg `, alt="").reviews__item-button-image
      .reviews__item.reviews__item_neighbor 
        span.reviews__item-title сосед помогает ставить электропастух, искру проверяю на нем
        button.reviews__item-button
          img(src=`${icnUrl}/youtube.svg `, alt="").reviews__item-button-image