section.about
  .about__container
    .about__wrapper
      h2.about__title о компании
      span.about__text ООО «НПК «Стамакс» — российский завод-изготовитель электропастухов. С 2013 года производим и продаем электропастухи «Статик-3М». в Барнауле. Гарантируем лучшие цены и быстрое сервисное обслуживание