footer.footer
  .footer__container
    .footer__info
      img(src=`${imgUrl}/logo.svg` alt="").footer__logo
      span.footer__license.footer__license_tablet 2013–2022 © ООО «НПК «Стамакс» Электропастух СТАТИК-3м
    .footer__contacts
      .footer__links
        a(href="tel: +88005500485").footer__number 8-800-550-04-85
        .footer__controls
          button.footer__button
            a(href="").footer__button-link
            span.footer__button-text vk
          button.footer__button
            a(href="").footer__button-link
            span.footer__button-text ok
      span.footer__license.footer__license_mobile 2013–2022 © ООО «НПК «Стамакс» Электропастух СТАТИК-3м
      .footer__design
        span.footer__design-text Дизайн сайта:
        img(src=`${imgUrl}/design-logo.svg` alt="").footer__design-image
