section.documents
  .documents__container
    h2.documents__title вся продукция сертифицирована
    .documents__slider 
      .documents__slide
        img(src=`${imgUrl}/about/document-1.svg` alt="").documents__image
      .documents__slide
        img(src=`${imgUrl}/about/document-2.svg` alt="").documents__image
      .documents__slide
        img(src=`${imgUrl}/about/document-3.svg` alt="").documents__image