section.guarantee
  .guarantee__wrapper
    .guarantee__container
      h2.guarantee__title гарантия 18 месяцев
      .guarantee__info
        span.guarantee__text Если с электропастухом СТАТИК-3М что-то случилось в разгар сезона, то мы всегда идем навстречу. По Вашему звонку отправляем новый прибор, а Вы отправляете нам неисправный.
        span.guarantee__text В этом случае электропастух возобновит свою работу максимально быстро. Не придется ждать, пока мы отремонтируем прибор и он вернется к Вам обратно.
      span.guarantee__notion распространяется на неисправности, возникшие по причине заводского брака