section.contacts
  .contacts__container
    h2.contacts__title контакты
  .contacts__content
    .contacts__info
      h3.contacts__info-title ООО «НПК «Стамакс» #[br] Завод-изготовитель электропастухов «Статик-3М» и комплектующих к ним
      address.contacts__info-address Россия, Алтайский край, г. Барнаул, проспект Космонавтов, 6/1 (ориентир — АЗС «Роснефть»)
      .contacts__info-communications
        span.contacts__info-number 8-800-550-04-85
        span.contacts__info-mail sale@staremax.com
    .contacts__map
      img(src=`${imgUrl}/map.png` alt="").contacts__image.contacts__image_mobile
      img(src=`${imgUrl}/map-tablet.png`, alt="").contacts__image.contacts__image_tablet
      //- img(src=`${imgUrl}/map-desktop.png` alt='').contacts__image.contacts__image_desktop
  .contacts__container
    .contacts__details
      h2.contacts__details-title банковские реквизиты
      .contacts__details-list
        .contacts__details-row
          span.contacts__details-key Организация 
          span.contacts__details-value ООО «НПК «Стамакс»
        .contacts__details-row
          span.contacts__details-key ИНН
          span.contacts__details-value 2225136205
        .contacts__details-row
          span.contacts__details-key КПП
          span.contacts__details-value 226301001
        .contacts__details-row
          span.contacts__details-key Счёт
          span.contacts__details-value 40702810304000013220
        .contacts__details-row
          span.contacts__details-key Банк 
          span.contacts__details-value Сибирский филиал ПАО "Промсвязьбанк" в г. Новосибирск
        .contacts__details-row
          span.contacts__details-key К/С
          span.contacts__details-value 30101810500000000816
        .contacts__details-row
          span.contacts__details-key БИК 
          span.contacts__details-value 045004816
        .contacts__details-row
          span.contacts__details-key ОГРН
          span.contacts__details-value 1132225001611
        .contacts__details-row
          span.contacts__details-key ОКПО
          span.contacts__details-value 10050625
        .contacts__details-row
          span.contacts__details-key ОКВЭД
          span.contacts__details-value 73.10