section.exhibitions
  .exhibitions__container
    h2.exhibitions__title участвуем в крупных выставках
    .exhibitions__list
      .exhibitions__item
        img(src=`${imgUrl}/about/exhibitions-1.png` alt="").exhibitions__image
      .exhibitions__item
        img(src=`${imgUrl}/about/exhibitions-2.png` alt="").exhibitions__image
      .exhibitions__item
        img(src=`${imgUrl}/about/exhibitions-3.png` alt="").exhibitions__image