section.shipping
  .shipping__container
    .shipping__head
      img(src=`${imgUrl}/about/shipping-image.png`, alt="").shipping__image
      .shipping__info
        h2.shipping__title доставка
        .shipping__description
          span.shipping__text Отправляем заказанный товар во все регионы России, включая Калининградскую область и Крым.
          span.shipping__text Продукция сертифицирована на территории стран Таможенного союза, поэтому возможна доставка в Казахстан, Белоруссию, Армению, Киргизию.
    .shipping__list
      .shipping__item.shipping__item_delivery
        .shipping__item-head
          img(src=`${icnUrl}/shipping-delivery.svg`, alt="").shipping__item-icon
          h3.shipping__item-title Транспортной компанией
        .shipping__item-text Мы работаем со всеми основными грузоперевозчиками, которые есть во всех городах и многих районных центрах. Транспортная компания доставляет до ближайшего к Вам пункта выдачи груза. Возможен любой вес и объем.
      .shipping__item.shipping__item_post
        .shipping__item-head
          img(src=`${icnUrl}/shipping-post.svg`, alt="").shipping__item-icon
          h3.shipping__item-title Почтой России
        .shipping__item-text Отправляем посылки весом до 20 кг. Посылки большего веса и стойки для проволоки Почта России не принимает.
      .shipping__item.shipping__item_bus
        .shipping__item-head
          img(src=`${icnUrl}/shipping-bus.svg`, alt="").shipping__item-icon
          h3.shipping__item-title междугородним автобусом
        .shipping__item-text В пределах 300 км от Барнаула возможна отправка груза междугородним автобусом с Барнаульского автовокзала. Наш экспедитор доставит товар «до дверей». По договоренности мы отправляем другими способами, если это возможно.