section.pickup
  .pickup__container
    .pickup__info
      h2.pickup__title самовывоз
      .pickup__description 
        span.pickup__text В офисе продаж вы можете ознакомиться со всей выпускаемой нами продукцией и получить прямую консультацию специалиста.
        .pickup__address
          span.pickup__address-title Адрес офиса продаж и склада:
          address.pickup__address-text Россия, Алтайский край, г. Барнаул, пр. Космонавтов, 6/1 (ориентир — АЗС «Роснефть»)
    .pickup__map